
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@mixin flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@mixin flex-around-top {
    display: flex;
    justify-content: space-around;
}
@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-between-top {
    display: flex;
    justify-content: space-between;
}

@mixin flex-start {
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

@mixin flex-end {
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

@mixin nowrap {
    flex-wrap: nowrap;
}

@mixin wrap {
    flex-wrap: wrap;
}

@mixin flex-col-center {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-col-start {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@mixin flex-col-end {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

@mixin flex-col-around {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@mixin flex-col-between {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}